.tablero{
    width: 352px;
    height: 400px;								
    border: 1px solid black;
    				
}
.numero1{
    margin-top:5px;
    font-size: 25px;
    color:#1976d2;
}
.numero2{
    margin-top:5px;
    font-size: 25px;
    color:#388e3c;
}
.numero3{
    margin-top:5px;
    font-size: 25px;
    color: #d33030;
}
.numero4{
    margin-top:5px;
    font-size: 25px;
    color:#7b1fa2;
}
.numero5{
    margin-top:5px;
    font-size: 25px;
    color:rgb(4, 4, 188);
}
.numero6{
    margin-top:5px;
    font-size: 25px;
    color: rgb(148, 1, 1);
}
.numero7{
    margin-top:5px;
    font-size: 25px;
}
.numero8{
    margin-top:5px;
    font-size: 25px;
}
.mina{
    margin-top:15px;
    font-size: 15px;
    background-color: #e00505;	
}
.casillaCerrada{
    width: 50px;
    height: 50px;
    border: 1px solid #3F51B5;
    float: left;
    background-color: #303F9F;				
    font-size: 30;
    text-align: center;
}
.info{
    width: 35px;
    height: 30px;

    font-size: 25px;
    color:#1976d2;
}
/*
fondo #d7b899 #e5c29f
*/
.casillaAbierta1{
    width: 50px;
    height: 50px;
    float: left;
    background-color: #e5c29f;				
    font-size: 30;	
    text-align: center;
    
}
.casillaAbierta2{
    width: 50px;
    height: 50px;
    float: left;
    background-color: #d7b899;				
    font-size: 30;	
    text-align: center;
    
}
.casillaCerrada:hover {
    background-color: #3F51B5;
  }
.reitentar{
    width: 100%;
    margin-top:5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #3F51B5;
    border-color: #3F51B5;
    background-color: #303F9F;	
}
.reitentar:hover {
    border: 1px solid #3F51B5;
    background-color: #3F51B5;
}
.btnrecargar{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.botones{
    max-width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.col{

}
.row > * {
    flex-shrink: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.espacio{
    width: 30px;
}
.hora{
    color: aliceblue;
}