.tablero{
    width: 352px;
    height: 400px;								
    border: 1px solid black;
    				
}
.numero1{
    margin-top:5px;
    font-size: 25px;
    color:green;
}
.numero2{
    margin-top:5px;
    font-size: 25px;
    color:blue;
}
.numero3{
    margin-top:5px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}
.numero4{
    margin-top:5px;
    font-size: 25px;
    color:rgb(0, 85, 0);
}
.numero5{
    margin-top:5px;
    font-size: 25px;
    color:rgb(4, 4, 188);
}
.numero6{
    margin-top:5px;
    font-size: 25px;
    color: rgb(148, 1, 1);
}
.numero7{
    margin-top:5px;
    font-size: 25px;
}
.numero8{
    margin-top:5px;
    font-size: 25px;
}
.mina{
    margin-top:15px;
    font-size: 15px;
    background-color: #e00505;	
}
.casillaCerrada{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float: left;
    background-color: #05abe0;				
    font-size: 30;	
    text-align: center;
}
.casillaAbierta{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float: left;
    background-color: #ffffff;				
    font-size: 30;	
    text-align: center;
    
}
.casillaCerrada:hover {
    background-color: yellow;
  }